
# COMFYUI URL 
COMFYUI_SERVERS=127.0.0.1:8188

# The following configuration is only used for Validator

# Host for accessing owner's api
OWNER_HOST=https://sn99.neza.video

# Material configuration
MATERIAL_BASE_URL=https://pub-bba511953d2e437ab263dc92b9913558.r2.dev

# Database configuration
DB_NAME=video_subnet
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=127.0.0.1
DB_PORT=5432

# COMFYUI FILENAME
WORKFLOW_COMFY_FILENAME=workflow_comfy
WORKFLOW_MAPPING_FILENAME=workflow_mapping
