
# COMFYUI URL 
COMFYUI_SERVERS=127.0.0.1:8188

# The following configuration is only used for Validator

# Host for accessing owner's api
OWNER_HOST=https://sn99.neza.video

# Database configuration
DB_NAME=video_subnet
DB_USER=postgres
DB_PASSWORD=YOUR_POSTGRES_PASSWORD
DB_HOST=127.0.0.1
DB_PORT=5432

# COMFYUI FILENAME
WORKFLOW_COMFY_FILENAME=workflow_comfy
WORKFLOW_MAPPING_FILENAME=workflow_mapping

# Weights & Biases
WANDB_API_KEY=
